body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}

.box {
    flex: 1;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 1;
}

button {
    margin-top: 50px;
    padding: 8px 12px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    transition: left 0.5s;
    z-index: 2;
}

.right-content {
    position: absolute;
    top: 25%;
    left: 450px;
    display: grid;
    gap: 10px;
}

.right-content input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #333;
    padding-left: 10px;
}

.right-content button {
    position: absolute;
    top: 58%;
    width: 305px;
    height: 40px;
    background-color: #1877F2;
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Forgotten {
    position: absolute;
    top: 155%;
    left: 80px;
    color: #1877F2;
    font-weight: normal;
    cursor: pointer;
}

.vertical-line {
    position: absolute;
    top: 185%;
    width: 300px;
    height: 1px;
    background-color: lightgray;
}

.create-account button {
    position: absolute;
    top: 165%;
    left: 50px;
    width: 200px;
    font-size: 15px;
    background-color: #13cf13;
}


.left-content {
    position: absolute;
    top: 25%;
    display: grid;
    gap: 10px;
}

.left-content input {
    width: 290px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #333;
    padding-left: 10px;
}

.left-content button {
    background-color: #13cf13;
    position: absolute;
    top: 85%;
    width: 305px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}